/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

#PrimerCuadrante{
    position: absolute;
    background-color: transparent;
    width: 65%;
    left: 0%;
    float:left;
    z-index: 4;
}

.draggable{
    top: 50%;
    left: 50%;
}

#SegundoCuadrante{
    position: absolute;
    background-color: transparent;
    width: 35%;
    left: 65%;
    z-index: 4;
}

#IconoBocadillo{
    position:relative;
    z-index: 4;
}

#Papelera{
    position:relative;
    z-index: 2;
}

#PrimerCuadranteBajo{
    position: absolute;
    left: 0%;
    width: 70%;
    float:left;
    z-index: -1;
}

#SegundoCuadranteBajo{
    position: absolute;
    left: 70%;
    width: 30%;
    z-index: -1;

}

.PaginaCuento{
    float: left;
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    font-size: 50px;
    text-align: center;
    border: 2px solid black;
    left: 0%;

}

.MEdicion{
    position: absolute;
    top: 6%;
    height:90%;
    width: 100%;
    float: left;
    z-index: 2;
}

.MVisualizacion{
    position: absolute;
    top: 8%;
    height:90%;
    width: 100%;
    float: left;
    z-index: 2;
}

#BotonIzquierdatab{
	padding-left: 5%; 
    position: absolute;
    float: left;
    top: 50%;
    z-index: 3;
    display: none;
}
#BotonDerechatab{
	padding-left: 5%; 
    position: absolute;
    right: 0%;
    top: 50%;
    z-index: 3;
    display: none;
 }

img{
    height: auto;
    max-width: 100%;
}

ul{
    list-style-type:none;
}

/*
clases de botones para mostrar y ocultar
*/

.hidden{
    visibility: hidden;
}
.shown{
    visibility: visible;
}

#BotonCambiarModo{
	padding-left: 5%;  
    display: none;
}

#BotonAmpliarMenu{
	padding-left: 5%; 
}

/*
clases de slide
*/

.izquierda{
    left: 200%;
}

.derecha{
    left: -200%;
}

.actual{

}

#BotonIzquierda{
	padding-left: 5%;  
    float:left;
}

#BotonDerecha{
	padding-left: 5%;  
	right: 3%;
    float: right;
}

#Botonadd{
	 padding-left: 5%;  
}

#BotonVista{
	padding-left: 5%;  
}

#BotonEliminar{
	padding-left: 5%;  
}


/* Css de las Narraciones */
.TextNarracion{

    background-color: transparent;
    border: none;
    display: block;
    z-index: 0;
}

.TextNarracionSelect {
    position: absolute;
    background-color: blue;
    border: none;
    z-index: 200;
}

#TextNarracionTemp{
    position: absolute;
    background-color: #2299ee;
    z-index: 3;
}

/* Css de los bocadillos */
.bubble
{
    position: relative;
    width: 200px;
    height: 120px;
    padding: 0px;
    background: #FFFFFF;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
    border: #7F7F7F solid 3px;
}

.bubble:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 43px 11px 0;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -43px;
    left: 100px;
}

.bubble:before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 45px 13px 0;
    border-color: #7F7F7F transparent;
    display: block;
    width: 0;
    z-index: 0;
    bottom: -48px;
    left: 98px;
}

#TextBocadilloTemp{
    position: relative;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
    border: none;
    z-index: 200;
}

.TextBocadillo{
    position: relative;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
    border: none;
    z-index: 1;
}

.TextBocadilloSelect{
    position: relative;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
    border: none;
    z-index: 0;
}

#popupSelecionarCuento{
    min-width: 200px;
    max-width:600px
}

#BarraSlide{
    display: none;
}

#CrearCuento{
    display: none;
}

#EliminarCuento{
	display: none;
}

#formulario{
	text-align: center;
    margin-top: 10%;
    margin-left: 35%;
    width: 30%;
}

#Emoapp{
	height:10%;
}

#headeremoapp{
	/*height: 18%;*/
}

#TituloHeader{
	height: 30%;
}

.botonIzquierdaSuperior{
	top:15%;
}
